
/* display-font-sizes: (
    1: 5rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem
  ); */


  
  /* display-font-family: inter;
  display-font-style:  null;
  display-font-weight: 300;
  display-line-height: headings-line-height; */

.content_plus_button{
  color: rgba(67, 40, 116, 1);

  .t1{
    font-weight: 900;
    font-size: larger;
  }
}

.content-plus-button{
  display: flex;  
  padding: 3rem 4.5rem; 
  flex-direction: column; 
  justify-content: center;  
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

  body {
    margin: 0;
    font-family: Inter, sans-serif;
  }

  .btn-primaire{
    --bs-btn-font-weight: 500;
     --bs-btn-font-size: 12px;
     --bs-btn-colortext : rgba(102, 16, 242, 1);
     --bs-btn-border : rgba(102, 16, 242, 1);
     --bs-btn-bg: rgba(102, 16, 242, 1);
     --bs-btn-border-color: purple;
     --bs-btn-border-radius: .5rem;
     --bs-btn-hover-color: white;
     --bs-btn-hover-bg: indigo;
     --bs-btn-hover-border-color: rgb(212, 105, 212);
     --bs-btn-focus-shadow-rgb: green;
     --bs-btn-active-color: white;
     --bs-btn-active-bg: purple;
     --bs-btn-active-border-color: indigo;
 }

 .btn-main{
  --bs-btn-font-weight: 500;
   --bs-btn-font-size: 12px;
   --bs-btn-colortext : rgba(102, 16, 242, 1);
   --bs-btn-border : rgba(102, 16, 242, 1);
   --bs-btn-bg: rgb(230, 224, 238);
   --bs-btn-border-color: purple;
   --bs-btn-border-radius: .5rem;
   --bs-btn-hover-color: white;
   --bs-btn-hover-bg: indigo;
   --bs-btn-hover-border-color: rgb(212, 105, 212);
   --bs-btn-focus-shadow-rgb: green;
   --bs-btn-active-color: white;
   --bs-btn-active-bg: purple;
   --bs-btn-active-border-color: indigo;
}

