.navbar {
    --bs-navbar-brand-font-weight: 700;
    --bs-navbar-brand-color: #7a36ff;
    --bs-navbar-brand-hover-color: #7a36ff
}

.navbar-brand {
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.navbar-item {
    color: var(--Primary-Color-Dark, #5227CC);
    /* Body/ Base text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}

.services-section {
 display: flex;
padding: 3rem 4.5rem;
flex-direction: column;
align-items: flex-start;
gap: 2.5rem;

}
